footer{
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    padding-left: 10px;
    .social-media{
        width: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 180px;
        padding-bottom: 10px;
        a{
            font-size: 1.2rem;
            &:hover{
                color: $secondry-color;
                @include transition-ease-in-out;
            } 
        }
    }
    .copy-rights{ 
        transform: rotate(90deg);
        font-size: 1rem;
        padding: 1rem;
        font-weight: 400;
    }
}