@import "./config";
@import "./navBar";
@import "./home";

main{
    .contacts{
        position: relative;
        top: -2vh;
        margin: 0 auto;
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr 0.5fr;
        justify-items:center;
        row-gap: 30px;
        h2{
            font-size: 3rem;
            font-weight: 400;
        }
        &-methods{
            display: flex;
            justify-content: space-between;
            font-size: 1.5rem;
            width: 60vw;
            div{
                width: 32%;
                a{
                    color: $secondry-color;
                    display: block;
                    width: 100%;

                }
                i{
                    font-weight: 900;
                    margin-bottom: 5px;
                }
                h4{
                    display: inline-block;
                    font-weight:400 ;
                }
                p{
                    display: block;
                    width: 100%;
                    color: $secondry-color;
                }
                Address{
                    margin-top: 5px;
                    color: $secondry-color;
                }
            }
            
        }
        .social-media{
            a{
                @include transition-ease-in-out;
                padding: 0.5rem;
                &:hover{
                    color: $secondry-color;
                }
                
            }
        } 
    }
}
footer{
    font-size: 1rem;
    position: fixed;
    bottom: 0.4rem;
    right: 1rem;
    text-align: right;
    padding: 1rem;
}
@media (max-width: 576px) {

    .contacts-methods{
        flex-direction: column;
        div{
            margin-bottom: 10px;
            min-width: 100%;
        }
    }
  }